.splitScreenVertical {
  flex-direction: column;
  display: flex;
}

.upperScreen {
  size: 100;
  font-size: 50px;
  color: blue;
  background-color: blanchedalmond;
}

.text {
  margin-left: 5mm;
}

.lowerScreen {
  /* width: 80%; */
  flex-direction: row;
  display: flex;
}

.leftScreen {
  width: 30%;
  color: black;
}

.rightScreen {
  /*width: 80%;*/
}
